---
title: 目录
layout: page
---





{% for post in paginator.posts %}
<article class="post_box" >
    <div class="c-top" >
            <div class="datetime">{{ post.date | date:"%Y" }}<br />{{ post.date | date:"%m-%d" }}</div> 

            <header class="tit">
                <h2 class="h1">
                  <a href="{{ post.url }}#content" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
                </h2>

                <aside class="iititle">
                    <span><i class="icon-user icon-large"></i>发布:<a href="{{ post.authorlink }}" title="由{{ post.author }}发布" rel="author">{{ post.author }}</a></span>

                    <span><i class="icon-folder-open icon-large"></i>分类:<a href="/categories/#{{ post.categories }}" rel="category tag">{{ post.categories }}</a></span>

                </aside>

            </header>
    </div>



    <div class="c-con" >   
          <a href="{{ post.url }}#content" class="disp_a" rel="bookmark" title="">  
              <img src="{{ post.thumbnail }}" alt="{{ post.title }}" />  
          </a>
          {{ post.excerpt | remove: '<p>' | remove: '</p>' }} &raquo;
          <a href="{{ post.url }}#content" class="more-link">Read More ></a><div class="cls"></div>
    </div>


    <div class="c-bot">
            <div class="cls"></div>
    </div>
</article>
{% endfor %}

<div class="cls"></div>

<div id="post-pagination" class="paginator">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="/#content"><前页</a>
    {% else %}
    <a href="/page{{paginator.previous_page}}#content">&lt;前页</a>
    {% endif %}
  {% else %}
    <span class="previous disabled">&lt;前页</span>
  {% endif %}

      {% if paginator.page == 1 %}
      <span class="current-page">1</span>
      {% else %}
      <a href="/#content">1</a>
      {% endif %}

    {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <span class="current-page">{{count}}</span>
      {% else %}
      <a href="/page{{count}}#content">{{count}}</a>
      {% endif %}
    {% endfor %}

  {% if paginator.next_page %}
    <a class="next" href="/page{{paginator.next_page}}#content">后页&gt;</a>
  {% else %}
    <span class="next disabled" >后页&gt;</span>
  {% endif %}
  (共{{ paginator.total_posts }}篇)
</div>
