

#about .grid > ol {
  list-style: none;
  /*margin: -10px auto 50px;*/
  max-width: 1160px;
  overflow: hidden;
  width: calc(100% - 2 * 40px);
  /*border: 1px #d8d8d8 solid;
  box-sizing: border-box;*/
}


#about .grid > ol > div {
  float: left;
  height: 125px;
  margin: 0px;
  position: relative;
  width: 15%;
}

#about .grid > ol > li {
  float: left;
  height: 125px;
  margin: 10px;
  position: relative;
  width: 100px;
}

#about .grid > ol > li > a {
  color: #3c3c3c;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

#about .grid > ol > li > a > .thumb {
  background: no-repeat white;
  display: block;
  height: 100px;
  width: 100%;
  /*border: 1px #d8d8d8 solid;
  box-sizing: border-box;*/
}
#about .grid > ol > li > a {
  color: #3c3c3c;
}

#about .grid > ol > li > a > .title {
  background: #FFFFFF;
  bottom: 0;
  display: block;
  height: 25px;
  text-align: center;
  line-height: 25px;
  overflow: hidden;
  position: absolute;
  text-indent: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}