* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header .btn
{
  min-width: 10rem;
}

.page-header .iconbtn
{
  color: white;
  text-decoration: none;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 80rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; 
  text-align: center;
}

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }


    
.pageNav{font-weight:bold;font-size:17px;}
.pageNavInvalid{font-weight:bold;font-size:17px;color:#D0D0D0;}





.page_num a {
  float: left;
  height: 30px;
  margin: 10px 2px 10px 0;
  padding: 0 10px;
  background: #FF6002;
  color: #FFF;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-family: Arial,Microsoft YaHei
}

.page_num .current,.page_num a:hover {
  background: #413F40 !important;
  color: #FFF
}

.nav-previous a {
  float: left;
  color: #fff;
  height: 24px;
  background: #474546;
  text-align: center;
  line-height: 24px;
  display: block;
  padding: 3px 5px
}

.nav-previous a:hover {
  color: #fff;
}

.nav-next a {
  padding: 3px 5px;
  float: right;
  color: #fff;
  height: 24px;
  background: #FF6002;
  text-align: center;
  line-height: 24px;
  display: block
}





.post_box {
  margin-bottom: 70px;
  position: relative;
  margin-right: 4%;
  overflow: hidden;
  width: 96%;
}

.c-top {
  margin-bottom: 10px
}


.tit {
  margin-left: 60px;
  padding-left: 5px
}

.tit .h1 {
  border-bottom: 1px solid #DFDFDF;
  padding-bottom: 5px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  margin-bottom: 0px;
}

.tit .h1 a {
  color: #FF6100;
  font-size: 18px;
  line-height: 28px
}

.tit .h1 a:hover {
  color: #FD7B2F;
  text-decoration: underline
}

.tit .iititle {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  margin-top: 0px;
  overflow: hidden
}

.tit .iititle span,.post-edit-link {
  margin-right: 30px;
  color: #999;
  height: 18px
}

.tit .iititle .icon-large:before {
  vertical-align: -5% !important;
  font-size: 14px;
}

.tit .iititle .i1 {
  background-position: 0px -33px
}

.tit .iititle .i2 {
  background-position: 0px -77px
}

.tit .iititle .i3 {
  background-position: 0px 1px
}

.tit .iititle .i4 {
  background-position: 0px -16px
}

.post-edit-link {
  background-position: 0px -100px
}

.cb_bq {
  background-position: 0px -55px !important
}

.tit .iititle {
  color: #999
}

.tit .iititle a {
  color: #999
}

.tit .iititle a:hover {
  color: #FD5E02
}

.tit .iititle2 {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  margin-top: 6px
}

.tit .iititle2 .icon-large:before {
  vertical-align: 0 !important;
  font-size: 14px;
}

.tit .iititle2 span {
  margin-right: 30px;
  color: #999;
  float: left;
  height: 16px;
  margin-bottom: 10px;
}

.tit .iititle2 span a {
  color: #999
}

.tit .iititle2 span a:hover {
  color: #FF6100
}

.tit .iititle2 span.i2 {
  background-position: 0px -77px
}

.tit .iititle2 span.i1 {
  background-position: 0px -33px
}

.tit .iititle2 span.i4 {
  background-position: 0px -16px;
}

.datetime {
  width: 60px;
  background: #00BCF2;
  text-align: center;
  line-height: 20px;
  float: left;
  color: #FFF;
  font-size: 14px;
  font-family: Arial;
  padding: 8px 0
}

.c-con {
  line-height: 28px;
  font-size: 14px;
  margin-top: 5px;
  border-bottom: 1px dotted #DFDFDF;
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}

.c-con p {
  color: #444;
}

.c-con .disp_a {
  display: block;
  color: #333;
}


.c-con .page-link {
  display: none;
}

.c-con img {
  margin-right: 10px;
  float: left;
}

.c-con h1
{
  color: #333;

  line-height: 28px;
  font-size: 14px;
  font-weight: normal;
}

.c-con h2
{
  color: #333;

  line-height: 28px;
  font-size: 14px;
  font-weight: normal;
}


.more-link {
  float: right;
  height: 18px;
  padding: 0 10px;
  background: #ccc;
  line-height: 18px;
  color: #FFF;
  position: absolute;
  right: 0;
  width: 15%;
  bottom: 0;
  -webkit-transition: 0;
  -moz-transition: 0;
  -o-transition: 0;
  -ms-transition: 0;
}

a.more-link {
  color: #FFF
}

a.more-link:hover {
  color: #FFF
}


.c-bot {
  margin-top: 5px;
  height: 18px;
  color: #999
}

.c-bot .icon-large:before {
  font-size: 14px;
}

.c-bot .cb_bq {
  height: 16px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}

.cb_bq a {
  color: #999
}

.cb_bq a:hover {
  color: #FD7B2F
}


.cls {
  clear: both
}

@media screen and (min-width:1366px) {
  .post_box {
    margin-bottom: 70px;
    position: relative;
    margin-right: 4%;
    overflow: hidden;
    width: 46%;
    float: left
  }

  .main {
    width: 74%;
    float: left;
    overflow: hidden
  }

  .side {
    width: 25%;
    float: right;
    overflow: hidden
  }

  .c-con {
    line-height: 28px;
    font-size: 14px;
    margin-top: 5px;
    border-bottom: 1px dotted #DFDFDF;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width:960px) {
  .post_box {
    margin-bottom: 70px;
    position: relative;
    margin-right: 0;
    overflow: hidden;
    width: 100%
  }

  .c-con {
    line-height: 28px;
    font-size: 14px;
    margin-top: 5px;
    border-bottom: 1px dotted #DFDFDF;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis
  }

  .c-con img {
    height: auto !important;
    width: 160px !important;
  }

  .c-bot {
    height: auto
  }
}


