<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <meta name="author" content="{{ site.author }}" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
    <link type="text/css" rel="stylesheet" href="/stylesheets/offlintab-439.css">
    <link type="stylesheet" rel="stylesheet" href="/stylesheets/font-awesome.min.css">


    <!-- <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" /> -->

    <link rel="shortcut icon" href="/assets/icon/favicon.ico" />

    <link href="/assets/icon/favicon.ico" type="image/x-icon" rel="shortcut icon bookmark" />
    <link rel="apple-touch-icon-precomposed" href="assets/icon/icon32.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/icon/icon76.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/icon/icon120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/icon/icon152.png">

    {% if page.sh %}
    <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
    <link type="text/css" rel="stylesheet" href="/media/syntaxhighlighter_3.0.83/styles/shCoreDefault.css"/>


      {% if page.sh_applescript %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushAppleScript.js"></script>
      {% endif %}

      {% if page.sh_as3 %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushAS3.js"></script>
      {% endif %}

      {% if page.sh_bash %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushBash.js"></script>
      {% endif %}

      {% if page.sh_cf %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushColdFusion.js"></script>
      {% endif %}

      {% if page.sh_cpp %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushCpp.js"></script>
      {% endif %}

      {% if page.sh_csharp %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushCSharp.js"></script>
      {% endif %}

      {% if page.sh_css %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushCss.js"></script>
      {% endif %}

      {% if page.sh_delphi %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushDelphi.js"></script>
      {% endif %}

      {% if page.sh_diff %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushDiff.js"></script>
      {% endif %}

      {% if page.sh_erlang %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushErlang.js"></script>
      {% endif %}

      {% if page.sh_groovy %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushGroovy.js"></script>
      {% endif %}

      {% if page.sh_java %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushJava.js"></script>
      {% endif %}


      {% if page.sh_javafx %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushJavaFX.js"></script>
      {% endif %}

      {% if page.sh_js %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
      {% endif %}
      

      {% if page.sh_perl %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushPerl.js"></script>
      {% endif %}

      {% if page.sh_php %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushPhp.js"></script>
      {% endif %}

      {% if page.sh_plain %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushPlain.js"></script>
      {% endif %}

      {% if page.sh_powershell %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushPowerShell.js"></script>
      {% endif %}

      {% if page.sh_python %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushPython.js"></script>
      {% endif %}

      {% if page.sh_ruby %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushRuby.js"></script>
      {% endif %}

      {% if page.sh_sass %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushSass.js"></script>
      {% endif %}

      {% if page.sh_scala %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushScala.js"></script>
      {% endif %}

      {% if page.sh_sql %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushSql.js"></script>
      {% endif %}

      {% if page.sh_vb %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushVb.js"></script>
      {% endif %}

      {% if page.sh_xml %}
      <script type="text/javascript" src="/media/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>
      {% endif %}



    <script type="text/javascript">SyntaxHighlighter.all();</script>
    {% endif %}

  </head>

  <body>
    <section class="page-header">
      <a href="http://www.ihaiu.com" class="iconbtn"><h1 style="background-image: url('/assets/icon/icon76_white.png'); background-position: center center; background-repeat:no-repeat; height:76px; margin:0px;"></h1></a>
      <a href="http://www.ihaiu.com" class="iconbtn"><h1 class="project-name" >爱海游</h1></a>
      <h2 class="project-tagline">ihaiu.com</h2>
      <a href="/#content" class="btn">目录</a>
      <a href="/categories/#content" class="btn">分类</a>
      <a href="/guestbook/#content" class="btn">留言</a>
      <a href="/about/#content" class="btn">关于</a>
    </section>





    <section class="main-content" id="content">

      <h1>{{ page.title }}</h1>
      <article class="content">
        {{ content }}
      </article>


      <footer class="site-footer">

          {% include baidutongji.md %}

        <span class="site-footer-credits"><a href="http://www.ihaiu.com">爱海游</a></span> |
        <span class="site-footer-credits"><a href="http://blog.ihaiu.com">博客</a></span> |

        <script src="http://s4.cnzz.com/z_stat.php?id=1260003113&web_id=1260003113" language="JavaScript"></script>
      </footer>

    </section>

  
  </body>
</html>


