---
layout: default
share: true
---

<section class="meta">
<span class="time">
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
{% if page.categories.size != 0 %}
 | 
<span class="categories">
  分类
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags.size != 0 %}
 | 
<span class="tags">
  标签
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>
<section class="post">
{{ content }}
</section>
<section align="right">
<br/>
<span>
	<a {% if page.previous %} href="{{ page.previous.url }}#content" class="pageNav"{% endif %} {% unless page.previous %} class="pageNavInvalid" {% endunless %} >上一篇</a>
	&nbsp;&nbsp;&nbsp;
	<a {% if page.next %} href="{{ page.next.url }}#content" class="pageNav"{% endif %} {% unless page.next %} class="pageNavInvalid" {% endunless %} >下一篇</a>
</span>
</section>
{% include comments.md %}
{% include baidutongji.md %}
{% include googleanalytics.md %}



<!-- 
layout: post
title: Unity性能优化学习资源汇总
date: 2016-07-29 16:48:10
categories: Unity
tags: AssetBundle
excerpt: 优化的重点分为两部分，安装包大小优化以及性能优化。
thread: 20160728164810
author: 大海明月
authorlink: 593705098
thumbnail: /assets/docpic/unity-performance_optimization.png 
share:true
-->